@mixin vertical {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0px;
        background-color: black;
        border: 2px solid black;
        left: 0;
        top: 0;
    }
}

@mixin horizontal {
    &::before {
        content: '';
        position: absolute;
        height: 0px;
        width: 200px;
        background-color: black;
        border: 2px solid black;
        left: 0;
        margin-top: 11px;
    }
    &::after {
        content: url('../../icons/arrow.svg'); 
        width: 16px;
        height: 16px;
        margin-top: 12px;
        left: 200px;
        position: absolute;
        transform: translateY(-50%);
    }
}