.title {
    font-family:'Roboto';
    font-weight: 400;
    &-fz20 {
        font-size: 20px;
        line-height: 23px;
    }
    &-fz32 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    &-fz36 {
        font-size: 36px;
        line-height: 42px;
        font-weight: 700;
    }
    &-fz64 {
        font-size: 64px;
        line-height: 75px;
        color: $main-color;
        text-align: center;
        margin-top: 30px;
        font-weight: 700;
    }
}